<section class="wrap-pop _fnctWrap on" id="wrap-slider91" tabindex="0" aria-hidden="false">
  <div class="inner">
    

    <div class="box-slider">
      <div class="slider" id="slider91">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="https://www.instagram.com/icn_culture.and.art?igsh=MW1xaHdidmJuam95Nw==" target="_blank" title="새창"
              tabindex="0">
              <p><img src="https://www.airport.kr/sites/ap_ko/atchmnfl_mngr/imageSlide/91/temp_1781499794434100.png"
                  alt="인천공항 출국길 콘서트"></p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/ap_ko/1011/subview.do?enc=Zm5jdDF8QEB8JTJGYmJzJTJGYXBfa28lMkYxNzUlMkYxMzkzNzYlMkZhcnRjbFZpZXcuZG8lM0ZwYWdlJTNEMSUyNmZpbmRUeXBlJTNEJTI2ZmluZFdvcmQlM0QlMjZmaW5kQ2xTZXElM0QlMjZmaW5kT3Bud3JkJTNEJTI2cmdzQmduZGVTdHIlM0QlMjZyZ3NFbmRkZVN0ciUzRCUyNnBhc3N3b3JkJTNEJTI2dGVtcFJvdyUzRCUyNg%3D%3D"
              tabindex="0">
              <p><img src="https://www.airport.kr/sites/ap_ko/atchmnfl_mngr/imageSlide/91/temp_1776414887349100.png"
                  alt="보조배터리 기내반입기준 안내(4월 20일 시행) - (01) 위탁수하물 불가 반드시 직접 휴대하세요. (02) 160Wh 이하 2개까지 가능 100Wh(270,000mAh) 초과는 항공사에 문의 (03) 단락방지조치 필요 . 절연테이프 부착 또는 비닐봉투 보관 등  * 기내에서는 충전/사용/선반보관 금지">
              </p>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="https://www.airport.kr/ap_ko/index.do" target="_blank" title="새창" tabindex="0">
              <p><img src="https://www.airport.kr/sites/ap_ko/atchmnfl_mngr/imageSlide/91/temp_1781499794434100.png"
                  alt="인천국제공항 캠페인 안내"></p>
            </a>
          </div>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
      </div>

      <div class="control">
        <button type="button" class="prev" aria-label="이전 슬라이드">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M15.75 19.5L8.25 12l7.5-7.5" />
          </svg>
        </button>
        <button type="button" class="next" aria-label="다음 슬라이드">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
          </svg>
        </button>
      </div>

      <div class="control2">
        <div class="pop-state">
          <span>팝업건수 : 총 <em>3</em>건</span>
        </div>

        <div class="pop-play">
          <button type="button" class="stop on" title="정지" aria-label="슬라이드 정지">슬라이드 정지</button>
          <button type="button" class="play" title="재생" aria-label="슬라이드 재생">슬라이드 재생</button>
        </div>

        <div class="pop-close">
          <button type="button" class="btn-close side">닫기</button>
        </div>
        <div class="pop-today" tabindex="0" aria-hidden="false">
          <span>오늘하루 열지않기</span>
          <span>
            <input type="checkbox" title="오늘하루 열지않기" class="needsclick">
            <label></label>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
